* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  min-height: 100%;
  display: flex;
}

body, #app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
